{% extends "base.html" %}
{#{% load crispy_forms_filters %}#}

{% block content %}
  <h1>
    Last news
    <a href="{% url 'main:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
{#    <form action="" method="get" class="form-inline">#}
{#      {{ search_form|crispy }}#}
{#      <input type="submit" value="Search" class="btn btn-primary link-to-page">#}
{#    </form>#}
  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <li>
          <a href="{% url 'main:newspaper-detail' pk=newspaper.id %}">
            {{ newspaper.title }}
          </a>
          <br>
          🗂️ Topics:
          {% for topic in newspaper.topics.all %}
            {{ topic.name }}{% if not forloop.last %}, {% endif %}
          {% empty %}
            <em>Without topics</em>
          {% endfor %}
          <br>
          🕒 Published: {{ newspaper.published_date|date:"d.m.Y" }}
        </li>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspapers yet</p>
  {% endif %}
{% endblock %}
