{% extends "base.html" %}

{% block content %}
  <h1>
    Title: {{ newspaper.title }}
    <a href="{% url 'main:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>

  <p>
    <strong>🗂️ Topics:</strong>
    {% for topic in newspaper.topics.all %}
      {{ topic.name }}{% if not forloop.last %}, {% endif %}
    {% empty %}
      <em>Without topics</em>
    {% endfor %}
  </p>
  <p>
    <strong>🧑‍💼 Publishers:</strong>
    {% for publisher in newspaper.publishers.all %}
      <a href="{% url 'main:redactor-detail' pk=publisher.id %}">{{ publisher.username }}</a>
    {% endfor %}
  </p>
  <p><strong>📰 Content:</strong> {{ newspaper.content }}</p>
{% endblock %}
