{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

  <div class="custom-card p-4 shadow fade-in text-center">

    <h2 class="text-danger mb-4">⚠️ Delete Your Account</h2>

    <p class="mb-4 fs-5">
      This action cannot be undone.<br>
      Are you sure you want to delete your account <strong>{{ redactor.username }}</strong>?
    </p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger px-4">Delete</button>
      <a href="{% url 'main:redactor-detail' redactor.id %}" class="btn btn-outline-secondary px-4">
        Cancel
      </a>
    </form>

  </div>

</div>
{% endblock %}
