  body {
    background-color: #f9f9f9;
  }

  .sidebar-nav {
    position: sticky;
    top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .link-to-page {
    text-decoration: none;
    color: #343a40;
  }

  .link-to-page:hover {
    color: #007bff;
  }
